extends layout

block content
    h1= title1
    table(class='table table-striped table-bordered table-hover')
        thead 
            tr
                th First Name
                th Last Name
                th PID
                th CID
                th Gang
                th Conduct
                th Parole
                each inmate in inmates
                    tr
                        td= inmate.PFirst
                        td= inmate.PLast
                        td= inmate.PID
                        td= inmate.CID
                        td= inmate.PGang
                        td= inmate.PConduct
                        td= inmate.Parole
    h1= title2
    table(class='table table-striped table-bordered table-hover')
        thead 
            tr
                th First Name
                th Last Name
                th GID
                th Type
                th Clearance
                th Warden
                each guard in guards
                    tr
                        td= guard.GFirst
                        td= guard.GLast
                        td= guard.GID
                        td= guard.GType
                        td= guard.Clearance
                        td= guard.Warden
    h1= title3
    table(class='table table-striped table-bordered table-hover')
        thead 
            tr
                th Cell Block Name
                th Type
                th Number of Cameras
                each cellBlock in cellBlocks
                    tr
                        td= cellBlock.CBname
                        td= cellBlock.CBType
                        td= cellBlock.NoCams
    h1= title4
    table(class='table table-striped table-bordered table-hover')
        thead 
            tr
                th CID
                th Cell Status
                th Maximun Capacity
                th Cell Block Name
                each cell in cells
                    tr
                        td= cell.CID
                        td= cell.CellStatus
                        td= cell.MaxCap
                        td= cell.CBname
    h1= title5
    table(class='table table-striped table-bordered table-hover')
            thead 
                tr
                    th Day
                    th Time
                    th GID
                    th Cell Block Name
                    each shift in shifts
                        tr
                            td= shift.Day
                            td= shift.Time_
                            td= shift.GID
                            td= shift.CBname